@import '../../variables.scss';

.container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem 0 1rem;
  margin: 20px 0;
  select {
    border: none;
    background-color: $background;
    color: $font-color;
    font-size: 16px;
    margin-right: 30px;
  }

  .logoContainer {
    color: $logo-color;
    font-size: 30px;
  }
}

.right {
  display: flex;
}

.themeSwitch {
  display: flex;
  justify-content: center;
  align-items: center;
  input[type='checkbox'] {
    height: 0;
    width: 0;
    visibility: hidden;
  }

  .icon {
    color: $logo-color;
    position: absolute;
    font-size: 24px;
    right: -35px;
    height: 100%;
    width: 20px;
  }

  label {
    cursor: pointer;
    width: 50px;
    height: 25px;
    background: $secondary;
    display: block;
    border-radius: 100px;
    position: relative;
  }

  label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 90px;
    transition: 0.3s;
  }

  input:checked + label {
    background: $main-color;
  }

  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 25px;
  }
}
