@import '../../variables.scss';

.container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  form {
    margin: 0;
    padding: 0;
    position: relative;
  }
  input {
    font-family: $font;
    font-size: 1.2rem;
    display: block;
    margin: 0 auto;
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: $input-color;
    color: $font-color;
    width: calc(100% - 40px);
  }

  button {
    position: absolute;
    font-size: 1.2rem;
    right: 20px;
    top: 50%;
    background-color: transparent;
    color: $main-color;
    border: none;
    transform: translate(0, -50%);
  }
}
