@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

:root {
  --font: monospace;
  --background: black;
  --font-color: white;
  --logo-color: #a943f7;
  --input-color: #1e1f1e;
}

$main-color: #a943f7;
$secondary: gray;
$weird-font: 'Satisfy', cursive;
$font: var(--font);
$font-color: var(--font-color);
$background: var(--background);
$logo-color: var(--logo-color);
$input-color: var(--input-color);
